* {
    padding: 0;
    margin: 0;
    font-family: Arial;

}

/* Navbar */
.navbar {
    height: 96px;
    background-color: #fff9f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    background-image: url(Logo.jpeg);
    height: 80px;
    width: 80px;
    background-size: cover;
}

.name {
    font-size: 30px;
    color: #2a2a2a;
    height: 35px;
    width: 218px;
    font-weight: 700;
}

.search-input {
    padding: 8px 12px 8px 12px;
    height: 24px;
    width: 458px;
    border-radius: 8px;
    border-color: #6b7280;
    font-size: 1rem;
}

.loc {
    height: 24px;
    width: 24px;
}

.location {
    height: 48px;
    width: 159px;
    background-color: #dd8130;
    border-radius: 8px;
    border: 0px solid;
    color: #ffffff;
    font-size: 14px;
}

/* bar */
.bar {
    height: 44px;
    background-color: #fff9f5;
    border: 0.8px solid rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* font-size: 18px; */


}

.bar-feature {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
}

.bar-select {
    border: none;
    background-color: #fff9f5;
    font-size: 16px;
    font-weight: 700;
}

/* main */

.hero {
    background-image: url(hero\ img.png);
    height: 475px;
    background-size: cover;
}

.pro {
    /* width: 100%; */
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff9f5;
}

.product div {
    font-size: 32px;
    color: #1b1b1b;
    margin-bottom: 10px;
    font-weight: bolder;
}

.product p {
    font-size: 18px;
    color: #333;
}

.right a {
    text-decoration: none;
    font-size: 16px;
    color: #1b1b1b;
    font-weight: 500;
}

.right a:hover {
    text-decoration: underline;
}

.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff9f5;
    flex-wrap: wrap;
}

.box {
    height: 440px;
    width: 30%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-img {
    height: 377px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.box-contant {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-contant p {
    color: #00505f;
    font-weight: 300;
}

.collection {
    height: 78px;
    display: flex;
    align-items: center;
}

.coll {
    font-size: 32px;
    font-weight: 700;
}

.coll-product{
    display: flex;
    justify-content: space-evenly;
    /* font-size: 20px; */
    background-color: #F2E5D9;
    height: 161px;
    align-items: center;
}
.coll-product i{
    height: 90px;
    width: 90px;
    font-size: 55px;
   
}
.payment{
    font-size: 18px;
    font-weight: 700;
    width: 148px;
    height: 22px;
    text-align: center;
    margin-top: 20px;
    margin-left: -20px;
}
.product{
    margin: 15px;
}
.foot{
    background-color: #643302;
    height: 577px;
    width: 1265px;
    padding: 32px 60px;
}

footer{
    margin-top: 20px;
}
/* panel 1 */
.foot-panel1{
    background-color: #37475a;
    color: #ffffff;
    height: 50px;
    font-size: 0.85rem;
    justify-content: center;
    display: flex;

    align-items: center;
}
/* panel2  */
.foot-panel2{
    background-color:#232f3e ;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}
ul a{
    display: block;
    color: #DDD;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}
ul p{
    font-size: 16px;
    font-weight: 700;
}
ul{
    margin-top: 20px;
}
/* panel 3  */

.foot-panel3{
    background-color: #232f3e;
    height: 68px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
   
    background-image:url(amazon.png.png);
    height: 50px;
    background-size: cover;
    width: 138px;
}

/* panel 4 */

.foot-panel4{
    background-color: #131a22;
    height: 92px;
    color: white;
    text-align: center;
    /* margin-top: 50px; */
    /* padding: 15px; */

}

.pages{
    padding: 25px;
}
.copyright{
    padding-top: 5px;
}
